
.block-desc {
    padding-top: 40px;
    height: 250px;
}


.block-desc1 {
    display: inline-block; 
    width: 300px;
}

.block-desc1:not(:last-of-type) {
    margin-right: 15px;
}

.icon {
    float: left;
    padding-right: 15px;
}

.head-desc1 {
    color: var(--primary-color); 
    text-transform: uppercase;
    font-size: 14px;
    text-align: left;
    margin-top: 0px;
}

.text-desc1 {
    font-size: 13px;
    clear: both;
    margin-left: 0px;  
}

.btn-more {
    text-transform: uppercase;
}

.btn-more :hover { /*не получилось изменить кнопку при эфекте наведени*/
    background-color: #fff;
    color: var(--primary-color);
}

.head-block {
    float: left;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 14px;
    clear: both;
}

.head-works{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;

}

.line {
    float: right;
    padding-left: 10px;
}
 
.slider-work:not(:last-of-type) {
    margin: 15px;
    margin-left: 0px;
}

.slider-work {
    display: inline-block;
    height: 185px;
    width:220px;
    margin-top: 0px;
}

.head-work {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 16px; 
    margin-bottom: 0px;
}

.work-date{
     color: var(--primary-color);
     margin-top: 0px;
    font-weight: 700; 
}

.border-works{ /*не получается сделать границы*/
    border-width: 2px;
    border-color: solid var(--secondary-color);
    padding-bottom: 20px;
    height: 50px;
}

.blocks {
    margin-bottom: 50px;
}

.footer-data {
    background-color: var(--primary-color);
    height: 270px;
}

.bar-wrapper2 {
    background-color: var(--primary-light-color);
    height: 265px;
}

.about-footer {
    display: inline-block;
    height: 180px;
    width:265px;
    color:#fff;
    margin:10px;
    margin-top: 0px;
}

.display-footer:not(:last-of-type){
    margin-right: 30px;
}
.display-footer {
    margin-left: 30px;
}

.head-data {
    text-transform: uppercase;
    color: #fff;
}

.email-color{
    color: #f3b29d;
}

.about-jetro{
    margin-top: 0px;

}
