.slider {
    background-color: white;
    margin-bottom: 20px;
}

.slider > * {
    margin-right: auto;
    margin-left: auto;
}

.slide {
    position: relative;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.slide-desc {
    position: absolute;
    bottom: 36px;
    left: 36px;
    padding: 20px;
    font-size: 12px;
    color: #fff;
    width: 410px;
    background-color: rgba(232, 102, 60, 0.8);
}

.slide-title {
    margin: 0;
    left: 36px;
    bottom: 36px;
    font-size: 18px;
    line-height: 1.2;
}

.slide-text {

}

.slider-thumbs {
    font-size: 0;
}

.slider-thumb {
    display: inline-block;
    width: 140px;
    height: 120px;
}

.slider-thumb:not(:last-of-type) {
    margin-right: 20px;
}