.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    box-sizing: border-box;
    flex-shrink: 0;
}

.col-12 {
    flex-basis: 100%;
}

.col-6 {
    flex-basis: 50%;
}

.col-4 {
    flex-basis: 33.3333%;
}

.col-3 {
    flex-basis: 25%;
}

.col-2 {
    flex-basis: 16.6666%;
}

.col-1 {
    flex-basis: 8.3333%;
}

@media (min-width: 576px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: var(--row-margin);
        margin-right: var(--row-margin);
    }

    .row.no-gutters {
        margin-left: 0;
        margin-right: 0;
    }

    .no-gutters > .col {
        padding-right: 0;
        padding-left: 0;
    }

    .col {
        box-sizing: border-box;
        padding-right: var(--grid-padding);
        padding-left: var(--grid-padding);
        flex-shrink: 0;
    }

    .col-sm-6 {
        flex-basis: 50%;
    }

    .col-sm-4 {
        flex-basis: 33.3333%;
    }

    .col-sm-3 {
        flex-basis: 25%;
    }

    .col-sm-2 {
        flex-basis: 16.6666%;
    }

    .col-sm-1 {
        flex-basis: 8.3333%;
    }
}

@media (min-width: 768px) {
    .col-md-6 {
        flex-basis: 50%;
    }

    .col-md-4 {
        flex-basis: 33.3333%;
    }

    .col-md-3 {
        flex-basis: 25%;
    }

    .col-md-2 {
        flex-basis: 16.6666%;
    }

    .col-md-1 {
        flex-basis: 8.3333%;
    }
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex-basis: 50%;
    }

    .col-lg-4 {
        flex-basis: 33.3333%;
    }

    .col-lg-3 {
        flex-basis: 25%;
    }

    .col-lg-2 {
        flex-basis: 16.6666%;
    }

    .col-lg-1 {
        flex-basis: 8.3333%;
    }
}
