:root {
    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    width: 100%;
}

body {
    width: 100%;
}

.container {
    margin: auto;
    padding: 0 calc(0.5 * var(--grid-padding));
}

@media (min-width: 576px) {
    .container {
        width: calc(100% - 2 * var(--grid-padding));
        padding: 0;
    }

    .container {
        width: 520px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 940px;
    }
}
