:root {
    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    width: 100%;
}

body {
    width: 100%;
}

.container {
    width: calc(100% - 2 * var(--grid-padding));
    margin: auto;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

@media (min-width: 576px) {
    .container {
        width: 520px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 940px;
    }
}
