.head-line {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25em;
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
}

.block-line {
    margin-bottom: 10px;
}

.line {
    float: right;
    padding-left: 10px;
}
