.footer-row {
    font-size: 0;
    background-color: var(--primary-color);
}

.footer-col {
    display: inline-block;
    font-size: 12px;
    width: 33.333%;
    vertical-align: top;
    padding: 20px;
}

.bar-wrapper-height {
    background-color: var(--primary-light-color);
}

.about-footer {
    display: inline-block;
    height: 180px;
    width:265px;
    color:#fff;
    margin:10px;
    margin-top: 0;
}

.display-footer:not(:last-of-type){
    margin-right: 30px;
}

.display-footer {
    margin-left: 30px;
}

.heading-footer {
    text-transform: uppercase;
    color: #fff;
}

.email-color {
    color: #f3b29d;
}
